.index-container {
  min-height: 100vh;
  background-color: white;
}

.index-header-container {
  display: flex;
  flex-direction: column;
  padding: 0 15vw;

  .index-header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    /* 使用半透明背景色 */
    background-color: rgba(255, 255, 255, 0.5);
    /* 添加毛玻璃效果 */
    /* 模糊半径可以根据需要进行调整 */
    backdrop-filter: blur(10px);
    position: fixed;
    width: 70vw;
    padding: 15px 0 15px;
    cursor: default;

    font-family: "ChillLongCangKaiShu_Regular", sans-serif;

    .index-header-logo {
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
    }

    .index-header-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      a {
        text-decoration: none;
        color: inherit;
      }

      .index-header-menu__item {
        font-size: 15px;
        cursor: pointer;

        &:hover {
          color: #345524;
        }
      }

      .index-header-menu__login {
        border: 1.5px solid black;
        border-radius: 18px;
        padding: 12px 18px;

        &:hover {
          background-color: black;
          color: white;
          transition: background-color 1s, color .5s;
        }
      }
    }
  }
}

.index-body-container {
  display: flex;
  flex-direction: column;
  padding: 0 15vw;

  .index-body-first {
    display: grid;
    grid-template-columns: 6fr 2fr;
    gap: 15px;
    padding-top: 82px;

    .index-first-part__one {
      min-width: 480px;
      min-height: 260px;
    }

    .index-first-part__two {
      background-color: pink;
    }
  }
}
