.index-container {
  min-height: 100vh;
  background-color: white;
}

.index-header-container {
  display: flex;
  flex-direction: column;

  .index-header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    background-color: transparent;
    position: fixed;
    width: 100vw;

    padding: 10px 48px 20px;

    font-family: "PingFang SC", sans-serif;

    .index-header-logo {
      font-size: 21px;
      font-weight: 600;
    }

    .index-header-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      a {
        text-decoration: none;
        color: inherit;
      }

      .index-header-menu__item {
        cursor: pointer;

        &:hover {
          color: #345524;
        }
      }

      .index-header-menu__login {
        border: 1.5px solid black;
        border-radius: 21px;
        padding: 14px 21px;

        &:hover {
          background-color: black;
          color: white;
          transition: background-color 1s, color .5s;
        }
      }
    }
  }

  .index-header-wave__container {
    overflow: hidden;
    position: relative;
    height: 30px;
  }

  .index-header-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%201708%2045%22%3E%3Cpath%20d%3D%22M%207.237%2021.474%20L%200.311%2024.673%20C%20-1.148%2025.347%20-2.816%2024.283%20-2.816%2022.679%20L%20-3%20-9%20L%201836%20-9%20L%201836.184%2022.294%20C%201836.184%2024.113%201834.333%2025.346%201832.647%2024.647%20L%201825.125%2021.521%20C%201818.459%2018.747%201810.962%2018.663%201804.232%2021.288%20L%201800.209%2022.855%20C%201794.909%2024.919%201788.971%2024.49%201784.028%2021.688%20C%201779.022%2018.85%201772.994%2018.449%201767.643%2020.597%20L%201763.876%2022.117%20C%201757.529%2024.669%201750.403%2024.491%201744.196%2021.623%20C%201738.079%2018.795%201731.055%2018.581%201724.772%2021.03%20L%201721.707%2022.226%20C%201715.334%2024.712%201708.208%2024.495%201702.001%2021.625%20C%201695.871%2018.793%201688.847%2018.542%201682.539%2020.93%20L%201677.992%2022.645%20C%201672.13%2024.862%201665.579%2024.568%201659.921%2021.856%20C%201653.791%2018.915%201646.64%2018.848%201640.459%2021.699%20C%201634.393%2024.501%201627.394%2024.501%201621.328%2021.699%20L%201620.587%2021.353%20C%201614.815%2018.687%201608.225%2018.36%201602.223%2020.442%20L%201595.697%2022.701%20C%201589.375%2024.889%201582.454%2024.495%201576.426%2021.604%20C%201570.526%2018.776%201563.77%2018.336%201557.55%2020.375%20L%201550.271%2022.764%20C%201543.694%2024.924%201536.542%2024.606%201530.183%2021.869%20C%201523.222%2018.879%201515.253%2018.828%201508.229%2021.653%20C%201501.193%2024.487%201493.211%2024.483%201486.2%2021.569%20L%201485.766%2021.39%20C%201479.252%2018.681%201471.986%2018.348%201465.243%2020.449%20L%201458.104%2022.678%20C%201450.978%2024.899%201443.29%2024.547%201436.406%2021.682%20C%201429.433%2018.787%201421.669%2018.458%201414.479%2020.756%20L%201407.123%2023.107%20C%201401.095%2025.037%201394.544%2024.534%201388.873%2021.706%20C%201383.088%2018.82%201376.383%2018.358%201370.253%2020.424%20L%201362.591%2023.006%20C%201356.678%2025%201350.216%2024.605%201344.584%2021.906%20L%201344.099%2021.67%20C%201338.173%2018.828%201331.302%2018.687%201325.262%2021.283%20L%201321.98%2022.698%20C%201317.012%2024.832%201311.303%2024.333%201306.795%2021.369%20C%201302.772%2018.728%201297.766%2018.028%201293.169%2019.461%20L%201283.488%2022.482%20C%201275.941%2024.835%201267.811%2024.553%201260.446%2021.683%20C%201252.999%2018.781%201244.779%2018.526%201237.166%2020.96%20L%201229.926%2023.275%20C%201224.238%2025.094%201218.058%2024.568%201212.761%2021.816%20C%201207.106%2018.877%201200.463%2018.485%201194.499%2020.739%20L%201191.361%2021.925%20C%201184.236%2024.617%201176.35%2024.488%201169.317%2021.565%20C%201162.55%2018.752%201154.981%2018.523%201148.055%2020.922%20L%201144.276%2022.231%20C%201137.044%2024.736%201129.146%2024.543%201122.046%2021.687%20C%201114.856%2018.794%201106.852%2018.633%201099.551%2021.235%20L%201095.14%2022.806%20C%201089.206%2024.921%201082.662%2024.527%201077.026%2021.715%20C%201071.251%2018.835%201064.534%2018.494%201058.497%2020.776%20L%201054.018%2022.468%20C%201047.833%2024.805%201040.974%2024.607%201034.936%2021.918%20L%201034.055%2021.526%20C%201027.89%2018.78%201020.827%2018.88%201014.741%2021.798%20C%201008.998%2024.553%201002.368%2024.803%20996.432%2022.491%20L%20992.889%2021.11%20C%20986.379%2018.572%20979.209%2018.252%20972.497%2020.199%20L%20961.744%2023.317%20C%20955.528%2025.12%20948.864%2024.569%20943.031%2021.771%20C%20936.912%2018.836%20929.891%2018.379%20923.442%2020.495%20L%20914.863%2023.311%20C%20909.418%2025.098%20903.47%2024.506%20898.487%2021.681%20C%20893.454%2018.828%20887.441%2018.254%20881.957%2020.102%20L%20874.37%2022.659%20C%20867.773%2024.882%20860.581%2024.545%20854.222%2021.713%20C%20847.714%2018.814%20840.338%2018.531%20833.626%2020.923%20L%20828.057%2022.907%20C%20822.302%2024.957%20815.957%2024.575%20810.491%2021.848%20C%20804.578%2018.899%20797.663%2018.703%20791.592%2021.314%20L%20790.4%2021.826%20C%20784.031%2024.565%20776.813%2024.565%20770.444%2021.826%20L%20769.801%2021.549%20C%20763.316%2018.76%20755.992%2018.634%20749.413%2021.197%20L%20746.228%2022.439%20C%20740.22%2024.781%20733.497%2024.474%20727.727%2021.596%20C%20722.099%2018.789%20715.559%2018.425%20709.654%2020.591%20L%20706.05%2021.913%20C%20698.674%2024.619%20690.551%2024.493%20683.262%2021.561%20L%20682.905%2021.417%20C%20676.109%2018.683%20668.589%2018.306%20661.553%2020.347%20L%20651.935%2023.136%20C%20645.29%2025.063%20638.182%2024.623%20631.828%2021.89%20C%20624.82%2018.877%20616.921%2018.661%20609.758%2021.288%20L%20606.34%2022.542%20C%20600.11%2024.827%20593.217%2024.497%20587.235%2021.628%20C%20581.324%2018.792%20574.521%2018.435%20568.343%2020.636%20L%20560.068%2023.585%20C%20555.593%2025.179%20550.628%2024.585%20546.657%2021.979%20C%20542.148%2019.019%20536.398%2018.679%20531.57%2021.088%20L%20529.627%2022.057%20C%20524.485%2024.623%20518.45%2024.713%20513.232%2022.303%20L%20511.558%2021.53%20C%20505.596%2018.777%20498.735%2018.73%20492.736%2021.401%20L%20491.9%2021.774%20C%20485.677%2024.546%20478.582%2024.634%20472.29%2022.019%20L%20471.026%2021.494%20C%20464.411%2018.743%20456.969%2018.743%20450.354%2021.494%20L%20448.512%2022.259%20C%20442.608%2024.713%20435.934%2024.536%20430.169%2021.771%20C%20424.131%2018.874%20417.111%2018.823%20411.032%2021.632%20L%20410.406%2021.92%20C%20404.653%2024.578%20398.011%2024.529%20392.297%2021.789%20L%20391.446%2021.38%20C%20385.955%2018.747%20379.543%2018.849%20374.14%2021.657%20C%20368.738%2024.464%20362.324%2024.567%20356.834%2021.933%20L%20355.982%2021.525%20C%20350.269%2018.784%20343.627%2018.736%20337.873%2021.393%20L%20336.946%2021.821%20C%20331.069%2024.536%20324.274%2024.434%20318.479%2021.544%20C%20312.946%2018.784%20306.481%2018.561%20300.77%2020.936%20L%20298.205%2022.002%20C%20291.841%2024.647%20284.711%2024.798%20278.24%2022.425%20L%20275.504%2021.422%20C%20268.05%2018.687%20259.883%2018.579%20252.36%2021.115%20L%20246.333%2023.146%20C%20240.704%2025.044%20234.541%2024.569%20229.27%2021.83%20C%20223.611%2018.889%20216.948%2018.567%20211.03%2020.947%20L%20208.62%2021.917%20C%20201.93%2024.608%20194.448%2024.565%20187.789%2021.797%20L%20186.997%2021.469%20C%20180.374%2018.715%20172.972%2018.46%20166.175%2020.752%20L%20159.712%2022.93%20C%20153.65%2024.973%20147.027%2024.568%20141.26%2021.802%20C%20135.136%2018.865%20128.064%2018.597%20121.735%2021.064%20L%20116.676%2023.035%20C%20111.701%2024.974%20106.1%2024.453%20101.57%2021.628%20C%2097.092%2018.836%2091.564%2018.292%2086.626%2020.158%20L%2079.657%2022.792%20C%2074.039%2024.915%2067.794%2024.647%2062.38%2022.05%20L%2060.775%2021.28%20C%2055.429%2018.716%2049.174%2018.871%2043.961%2021.697%20C%2038.833%2024.478%2032.688%2024.675%2027.391%2022.228%20L%2025.757%2021.474%20C%2019.883%2018.761%2013.111%2018.761%207.237%2021.474%20Z%22%20fill%3D%22transparent%22%20stroke-width%3D%221.21%22%20stroke%3D%22rgba(255%2C%20255%2C%20255%2C%200.15)%22%20stroke-miterlimit%3D%2210%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    animation: waveScroll 2s linear infinite;
  }

  @keyframes waveScroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

.index-first-part {
  height: 120vh;
  background-color: white;
}
