#test {
  width: 100%;
}

.second-step-header {
  display: grid;
  grid-template-columns: 9fr 1fr;
  height: 30px;
  margin-bottom: 16px;
  gap: 20px;
}

.second-step-header_input {
  width: 100%;
}

.second-step-header_button {
  float: right;
}

.second-step-param {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .ant-space-item {
    width: 100%;

    .second-step-param_text {
      padding: 14px 0 0 0;
    }

    .second-step-param_param {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .second-step-param_headers {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .second-step-param_cookies {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .ant-pro-card-body {
      padding: 0;
    }
  }
}

.second-step-param_body {
  width: 100%;
}
